1 VERSIONINFO
 FILEVERSION 1,6,9,1176
 PRODUCTVERSION 1,6,9,1176
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "ZhuZiChu"
            VALUE "FileDescription", ""
            VALUE "FileVersion", "1.6.9.1176"
            VALUE "InternalName", "fluentuiplugin.dll"
            VALUE "LegalCopyright", "Copyright (C) 2023 ZhuZiChu. All rights reserved."
            VALUE "OriginalFilename", "fluentuiplugin.dll"
            VALUE "ProductName", "fluentuiplugin"
            VALUE "ProductVersion", "1.6.9.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
